.item{
    height: 200px;
}

#container > *:nth-child(1) .item{
    background-color: magenta;
}

#container > *:nth-child(2) .item{
    background-color: green;
}

#container > *:nth-child(3) .item{
    background-color: gray;
}

#container > *:nth-child(4) .item{
    background-color: orange;
}

#container > *:nth-child(5) .item{
    background-color: slateblue;
}

#container > *:nth-child(6) .item{
    background-color: #CCCCFF;
}
